*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
html, body {
  height: 100%;       /* garante altura cheia */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#__next, /* para Next.js Pages Router */
.layout { /* se estiver usando App Router com div.layout */
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* cresce e empurra o footer para baixo */
}
