# Dependências
node_modules/

# React
/frontend/node_modules
/frontend/build
/frontend/.env

# Build do TypeScript
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configs do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Cache do ts-node e outros
*.tsbuildinfo

# Configs do editor
.vscode/
.idea/

# Testes / cobertura
coverage/
